{% extends 'base.html.twig' %}

{% block title %}Shoping Cart{% endblock %}

{% block body %}

<style>

</style>

<div class="container">

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
        {% for cart in cart %}
          <tr>
            <td><a href="/item/{{ cart.id }}">{{ cart.name }}</a></td>
            <td>{{ cart.price }}</td>
            <td>{{ cart.amount }}</td>
            <td><a href="/cart/delete/{{ cart.id }}" class="btn btn-danger"> DELETE </a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      
     <p class="price">Total price = {{ price }} </p>
     <a href="/buy" class="btn btn-primary" > BUY </a>
</div>

{% endblock %}
